@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
.cool-looking-name {
    margin-left: 25px;
    font-family: 'Righteous', cursive;
    font-size: 48px;
    background: -webkit-linear-gradient(left, #4493e7, #8811c5);
    background-clip: text;
    color: transparent;
    background-size: 200% 100%;
    animation: moveGradient 1.5s linear infinite;
    display: flex;
}


body {
    background-color: #071925;
    font-family: 'Righteous', cursive;
    min-height: 100vh;
}


@keyframes moveGradient {

    0%, 100% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}

@keyframes slideOutLeftFadeOut {
    0% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%) translateY(0);
        opacity: 0;
    }
}

@keyframes slideInRightFadeIn {
    0% {
        transform: translateX(100%) translateY(0);
        opacity: 0;
    }
    100% {
        transform: translateX(0) translateY(0);
        opacity: 1;
    }
}





.navbar {
    position: fixed; 
    display: flex;
    font-size: 15;
    top: 15px; 
    right: 0;
    width: auto; 
    z-index: 1000; 
    box-shadow: 0 2px 4px rgba(173, 167, 167, 0.1);
    transition: none;
}
.navbar a {
    color: #00bfff;
    text-decoration: none;
    margin: 0 25px;
    font-size: 18px;
    transition: color 0.3s;
}
.navbar a:hover {
    color: #ffffff;
    text-shadow: 0 0 8px #00bfff; 
}
.nav-toggle-label {
    display: contents; 
    position: fixed;
    top: 0; right: 0;
    padding: 1rem;
}
.nav-toggle-label span,
.nav-toggle-label span i {
    display: none;
}


.back-to-main {
    position: relative;
    
    display: inline-block;
    margin-top: 100px;
    margin-left: 30px;
    font-size: 24px;
    text-decoration: none;
    color: #1f68b5;
    margin-bottom: 50px;
    cursor: pointer;
}


.back-to-main:hover {
    color: #007bff;
}

.back-to-main:hover .arrow-icon {
    border-color: #007bff;
}

.arrow-icon {
    border: solid #1f68b5;
    border-width: 0 5px 5px 0; /*arrow shape*/
    display: inline-block;
    padding: 10px;
    transform: rotate(135deg);
    transition: border-color 0.1s ease; 
}

.arrow-text {
    padding-left: 15px;
}






.carousel-container {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center; 
}

.carousel-slide {
    position: absolute;
    align-items: center; /* Center items vertically */
    justify-content: center; 
    width: 100%;
    top:0;
    opacity: 0; 
    z-index: 1; 
    visibility: hidden; /* Keep slides hidden */


}

.carousel-slide.active {
    visibility: visible; 
    position: relative;
}

.description-flyout {
    position: absolute;
    top: 13%;
    right: 30%;
    transform-origin: center;    
    transition: transform 1.5s ease, opacity 4s ease;
    background: #fff; /* Ensure readability */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    width: 60%;
    opacity: 0; 
    pointer-events: none; 
    padding: 5px; 
    z-index: 10;
}

.description-visible {
    width: auto;
    opacity: 1;
    pointer-events: auto; /* Enable mouse events when visible */
    box-shadow: 10px 0px 6px rgba(0, 0, 0, 0.5);

}

.carousel-slide img {
    box-shadow: 10px 0px 6px rgba(0, 0, 0, 0.5);
    transition: transform 0.5s ease, width 0.5s ease; 
    width: auto; 
}


.carousel-controls {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 20px; /* Add space between buttons */
    margin-top: 10px; /* Space from the image to the buttons */
}

.carousel-button {
    align-items: center;
    justify-content: center;
    width: auto;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #00bfff;
    color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}

.carousel-button:hover {
    background-color: #007bff;
}




.info-button {
    display: inline-block;
    margin-top: 50px; /* Adjust as needed */
    border: none;
    width: 15%;
    height: 15%;
    border-radius: 35%;
    background-color: #007BFF; /* Example blue color */
    color: white;
    font-size: 25px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
}



